html {
	box-sizing: border-box;
	width: 100vw;
	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
	color: #212121;
	background-color: #fff;
	padding-bottom: 20px;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
