.transactionRow:nth-child(2n) {
  background: #f4f4f4;
}

.transactionRow:hover {
  background: #defbff;
}

.transactionRowItem {
  border: 1px solid #e8e9eb;
  padding: 1% 0 1% 12%;
  text-align: left;
}

.transactionRowItem:nth-child(2n) {
    text-align: right;
    padding: 1% 12% 1% 0;
}