.errorWrapper {
	display: block;
	width: 70%;
	margin: 5em auto;
	padding: 10px;
	text-align: center;
	background: #f39c12;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	border-radius: 4px;
}

.errorWrapper p {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

@media (min-width: 768px) {
	.errorWrapper {
		width: 500px;
	}
}