.logoWrapper {
	display: none;
}

@media (min-width: 768px) {
	.logoWrapper {
		display: block;
		width: 30%;
	}

	.logo {
		width: 100%;
	}
}

@media (min-width: 1440px) {
	.logoWrapper {
		width: 16%;
	}
}
