.nav {
	display: flex;
	flex: 0 0 20%;
	justify-content: space-evenly;
	align-items: center;
}

.link {
	display: inline-block;
	text-decoration: none;
	padding: 12px;
	font-weight: 700;
	color: #212121;
	text-transform: uppercase;
}

.activeLink {
	color: #3947a7;
}
